body{
  background-color: #000000;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  
}
.btn-pink{
  border:1px solid #00b9cb;
  color: #00b9cb;
}
.btn-pink:hover{
  border:1px solid #00b9cb;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, #00adc8, #00adc8, #0096c8, #004db2);

}
.text-yellow-500{
  color: #00b9cb;
}
.boxcolor{
  background-image: linear-gradient(to bottom, #00adc8, #00adc8, #0096c8, #004db2);
}
.box{
 /* min-height: 60vh !important; */
 border:1px solid #00b9cb;
  border-radius: 8px;
}
select{
  background-color: black !important;
  border: none !important;
}
select:focus{
box-shadow: none !important;
}
option:hover{
background-color: antiquewhite !important;
}
.bgcard{
  background-color: transparent;
    border:1px solid #00b9cb;
  padding: 12px;
}
.bgcard2{
  background-color: transparent;
    border:1px solid #00b9cb;
  padding: 12px;
  height: 50vh;
  overflow-y: scroll;
}
.bgcard22{
  background-color: transparent;
    border:1px solid #00b9cb;
  padding: 12px;
  height: 35vh;
  overflow-y: scroll;
}
.initial-content {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #00b9cb;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}
.bg-black{
  background-color: #00b9cb;
}